<h3>Sign in Angular Mail</h3>
<div *ngIf="showMessage" class="ui message">
  <i (click)="close()" class="close icon"></i>
  <div class="header">
    Don't have an account yet?
    <a rel="noreferrer" routerLink="/signup" routerLinkActive="active"> Sign Up</a>
  </div>
  <p>
    Or visit github to
    <a className="fab fa-github" rel="noreferrer" href="https://github.com/leyulunna/Angular-Mail" target="_blank">learn more</a>
  </p>
</div>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="signinForm">
  <app-input
    inputType="text"
    label="UserName"
    [control]="$any(signinForm.get('username'))">
  </app-input>
  <app-input
    inputType="password"
    label="Password"
    [control]="$any(signinForm.get('password'))">
  </app-input>

  <div *ngIf="signinForm.errors" class="ui red basic label">
    <p *ngIf="signinForm.errors.credentials">
      Invalid email or password
    </p>
  </div>

  <div>
    <button class="ui submit button primary">
      Submit
    </button>
  </div>
</form>

